<!doctype html>
<html lang="en">

<head>
    <%- include('include/header') %>
        <title>Pagemaster Master</title>
</head>

<body>
    <div class="wrapper">
        <%- include('include/sidebar') %>
            <div id="body" class="active">
                <%- include('include/navBar') %>
                    <div class="content">
                        <div class="container">
                            <div class="page-title">
                                <h3>Pagemaster(s)
                                    <button class="btn btn-lg btn-success float-end" data-bs-toggle="modal"
                                        data-bs-target="#edit-modal" onclick="reset()"><i
                                            class="fas fa-plus-circle"></i> Add</button>
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card">
                                        <!-- <div class="card-header">Basic DataTables Table</div> -->
                                        <div class="card-body">
                                            <p class="card-title"></p>
                                            <table class="table table-hover table-striped" id="dataTables-example">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('include/footer') %>
            </div>
    </div>
    <div class="modal fade" id="edit-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add/Edit Taluka</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                    <form id="pagemasterform" action="" method="POST" enctype="multipart/form-data">
                        <input type="hidden" id="createdby" name="createdby" value="">
                        <input type="hidden" id="oid" name="oid" value="" />
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="filename" name="filename"
                                placeholder="File Name" required>
                            <label for="filename">FileName</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="icon" name="icon" placeholder="Icon" required>
                            <label for="icon">Icone</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select id="parent" name="parent" class="multiple-select input-group "></select>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="sort" name="sort" placeholder="Sort" required>
                            <label for="sort">Sort</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="title" name="title" placeholder="Title"
                                required>
                            <label for="title">Title</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="title2" name="title2"
                                placeholder="Title Kannada" required>
                            <label for="title2">Title</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="submitData()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <%- include('include/javascript') %>
        <script>
            $(document).ready(function () {
                getData();
                parent(0);
                //(JSON.stringify(Object.values(rowID)).replaceAll('"', "'"))
            });

            const parent = async (val) => {
                try {
                    const response = await apiRequest('get', '/api/pagemaster/');
                    const result = response.data.pagemaster;
                    $('#parent option').filter('option').remove();
                    $('#parent').append($('<option />', { value: 0, text: 'Main Menu' }))

                    for (var key in result)
                        $('#parent').append($('<option />', { value: result[key]['oid'], text: result[key]['title'] }))

                    $('#parent').multipleSelect({ placeholder: 'Parent' });
                    $('#loader').fadeOut();
                } catch (error) {
                    toastr.error(error.response.data.message);
                    console.log(error);
                    $('#loader').fadeOut();
                }
            }
            // GET request
            const getData = async () => {
                try {
                    const response = await apiRequest('get', '/api/pagemaster/');
                    const createButton = (buttonType, rowID, type) => {
                        const buttonValues = buttonType == "edit" ? 'onclick="showedit(' + (JSON.stringify(rowID).replaceAll('"', "'")) + ')" ' : 'onclick="deleteData(' + (rowID.oid) + ')"';
                        var buttonText = buttonType == "edit" ? '<i class="fa fa-edit"></i>' : '<i class="fa fa-trash"></i>';
                        var buttonClass = buttonType == "edit" ? "btn btn-success" : "btn btn-danger";
                        var buttonFn = buttonType == "edit" ? buttonValues.replace(/[\[\]]/g, '') : buttonValues.replace(/[\[\]]/g, '');
                        return '<button class="' + buttonClass + ' ' + buttonType + '" ' + buttonFn + ' type="button" >' + buttonText + '</button>&nbsp;&nbsp;';
                    }
                    $('table').DataTable({
                        destroy: true,
                        data: response.data.pagemaster,
                        columns: [
                            { title: "SL.No" },
                            { title: "Title", data: "title" },
                            { title: "Kannada Title", data: "title2" },
                            { title: "Filename", data: "filename" },
                            { title: "Icon", data: "icon" },
                            { title: "Parent Menu", data: "parentname" },
                            { title: "Sort", data: "sort" },
                            {
                                title: "Actions", render: function (data, type, row) {
                                    return createButton('edit', row, type) + createButton('delete', row);
                                }
                            },
                        ],
                        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                            $("td:first", nRow).html(iDisplayIndex + 1);
                            return nRow;
                        },
                        select: false,
                        columnDefs: [{
                            "defaultContent": "-",
                            "targets": "_all",
                        }],
                        order: [[0, 'asc']],
                        "info": true,
                        "language": {
                            "emptyTable": "No data available"
                        },
                        responsive: true,
                        lengthChange: true,
                        searching: true,
                        ordering: true
                    });
                    $('#loader').fadeOut();
                } catch (error) {
                    toastr.error(error.response.data.message);
                    console.log(error);
                    $('#loader').fadeOut();
                }
            }

            const deleteData = async (oid) => {
                if (confirm("Are you sure you want to delete this item?")) {
                    try {
                        const response = await apiRequest('delete', '/api/pagemaster/delete/', { "oid": oid });
                        getData();
                        $('#loader').fadeOut();
                    } catch (error) {
                        toastr.error(error.response.data.message);
                        console.log(error);
                        $('#loader').fadeOut();
                    }
                }
            }

            const submitData = async () => {
                const form = document.querySelector(`#pagemasterform`);
                const formdata = new FormData(form);
                const data = {};
                for (let keyValue of formdata.entries())
                    data[keyValue[0]] = keyValue[1];
                //data['createdby'] = user.oid;
                data['parent'] = ($("#parent").multipleSelect('getSelects')).toString();

                const method = data['oid'] != 0 ? 'put' : 'post';
                const url = data['oid'] != 0 ? '/api/pagemaster/update' : '/api/pagemaster/addnew';
                if (data['oid'] == "" || data['oid'] == "0")
                    delete data['oid'];

                try {
                    const response = await apiRequest(method, url, data);
                    if (response.data.status)
                        toastr.success(response.data.message);
                    $("#edit-modal").modal('hide');
                    getData();
                    $('#loader').fadeOut();
                } catch (error) {
                    toastr.error(error.response.data.message);
                    console.log(error);
                    $('#loader').fadeOut();
                }
                $('#loader').fadeOut();
            }

        </script>
</body>

</html>