<!doctype html>
<html lang="en">

<head>
    <%- include('include/header') %>
        <title>Userprofile Master</title>
</head>

<body>
    <div class="wrapper">
        <%- include('include/sidebar') %>
            <div id="body" class="active">
                <%- include('include/navBar') %>
                    <div class="content">
                        <div class="container">
                            <div class="page-title">
                                <h3>Userprofile(s)
                                    <button class="btn btn-lg btn-success float-end" data-bs-toggle="modal"
                                        data-bs-target="#edit-modal" onclick="reset()"><i
                                            class="fas fa-plus-circle"></i> Add</button>
                                </h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card">
                                        <!-- <div class="card-header">Basic DataTables Table</div> -->
                                        <div class="card-body">
                                            <p class="card-title"></p>
                                            <table class="table table-hover table-striped" id="dataTables-example">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('include/footer') %>
            </div>
    </div>
    <div class="modal fade" id="edit-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add/Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-start">
                    <form id="userprofileform" action="" method="POST" enctype="multipart/form-data">
                        <input type="hidden" id="createdby" name="createdby" value="">
                        <input type="hidden" id="oid" name="oid" value="0" />
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="displayname" name="displayname"
                                placeholder="Name">
                            <label for="displayname">Name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="username" name="username" autocomplete="off"
                                placeholder="Username">
                            <label for="username">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" name="password" autocomplete="off"
                                placeholder="Password">
                            <label for="password">Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email" autocomplete="off"
                                placeholder="name@example.com">
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="usergroup" style="top: -12px;">User Group</label>
                            <select id="usergroup" name="usergroup" class="form-select multiple-select"></select>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="ngo" style="top: -12px;">NGO</label>
                            <select id="ngo" name="ngo" class=" form-select multiple-select"
                                multiple="multiple"></select>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="school" style="top: -12px;">School</label>
                            <select id="school" name="school" class=" form-select multiple-select"
                                multiple="multiple"></select>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="village" style="top: -12px;">Village</label>
                            <select id="village" name="village" class=" form-select multiple-select"
                                multiple="multiple"></select>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="taluka" style="top: -12px;">Taluka</label>
                            <select id="taluka" name="taluka" class=" form-select multiple-select"
                                multiple="multiple"></select>
                        </div>
                        <div class="form-floating mb-3">
                            <label for="district" style="top: -12px;">District</label>
                            <select id="district" name="district" class=" form-select multiple-select"
                                multiple="multiple"></select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="submitData()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('include/javascript') %>
        <script>
            $(document).ready(function () {
                getData();
                //(JSON.stringify(Object.values(rowID)).replaceAll('"', "'"))
            });

            // GET request
            const getData = async () => {
                try {
                    const response = await apiRequest('get', '/api/userprofile/');
                    const createButton = (buttonType, rowID, type) => {
                        const buttonValues = buttonType == "edit" ? 'onclick="showedit(' + (JSON.stringify(rowID).replaceAll('"', "'")) + ')" ' : 'onclick="deleteData(' + (rowID.oid) + ')"';
                        var buttonText = buttonType == "edit" ? '<i class="fa fa-edit"></i>' : '<i class="fa fa-trash"></i>';
                        var buttonClass = buttonType == "edit" ? "btn btn-success" : "btn btn-danger";
                        var buttonFn = buttonType == "edit" ? buttonValues.replace(/[\[\]]/g, '') : buttonValues.replace(/[\[\]]/g, '');
                        return '<button class="' + buttonClass + ' ' + buttonType + '" ' + buttonFn + ' type="button" >' + buttonText + '</button>&nbsp;&nbsp;';
                    }
                    $('table').DataTable({
                        destroy: true,
                        data: response.data.userprofile,
                        columns: [
                            { title: "SL.No" },
                            { title: "Name", data: "displayname" },
                            { title: "Email", data: "email" },
                            { title: "User Group", data: "groupname" },
                            { title: "NGO(s)", data: "ngoname" },
                            { title: "School(s)", data: "schoolname" },
                            { title: "District(s)", data: "districtname" },
                            { title: "Taluka(s)", data: "talukaname" },
                            { title: "Village(s)", data: "villagename" },
                            {
                                title: "Actions", render: function (data, type, row) {
                                    return createButton('edit', row, type) + createButton('delete', row);
                                }
                            },
                        ],
                        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                            $("td:first", nRow).html(iDisplayIndex + 1);
                            return nRow;
                        },
                        select: false,
                        columnDefs: [{
                            "defaultContent": "-",
                            "targets": "_all",
                        }],
                        order: [[0, 'asc']],
                        "info": true,
                        "language": {
                            "emptyTable": "No data available"
                        },
                        responsive: true,
                        lengthChange: true,
                        searching: true,
                        ordering: true
                    });
                    ngo(0);
                    school(0);
                    district(0);
                    taluka(0);
                    village(0);
                    usergroup(0);
                    $('#loader').fadeOut();
                } catch (error) {
                    toastr.error(error.response.data.message);
                    console.log(error);
                    $('#loader').fadeOut();
                }
            }

            const deleteData = async (oid) => {
                if (confirm("Are you sure you want to delete this item?")) {
                    try {
                        const response = await apiRequest('delete', '/api/userprofile/delete/', { "oid": oid });
                        getData();
                        $('#loader').fadeOut();
                    } catch (error) {
                        toastr.error(error.response.data.message);
                        console.log(error);
                        $('#loader').fadeOut();
                    }
                }
            }

            const submitData = async () => {
                const form = document.querySelector(`#userprofileform`);
                if (!form.checkValidity()){
                    // Trigger built-in HTML5 validation UI
                    form.reportValidity();
                    return false;
                }
                const formdata = new FormData(form);
                const data = {};
                for (let keyValue of formdata.entries())
                    data[keyValue[0]] = keyValue[1];
                //data['createdby'] = user.oid;
                data['ngo'] = ($("#ngo").multipleSelect('getSelects')).toString();
                data['school'] = ($("#school").multipleSelect('getSelects')).toString();
                data['district'] = ($("#district").multipleSelect('getSelects')).toString();
                data['taluka'] = ($("#taluka").multipleSelect('getSelects')).toString();
                data['village'] = ($("#village").multipleSelect('getSelects')).toString();
                data['usergroup'] = ($("#usergroup").multipleSelect('getSelects')).toString();

                const method = data['oid'] != 0 ? 'put' : 'post';
                const url = data['oid'] != 0 ? '/api/userprofile/update' : '/api/userprofile/addnew';
                if (data['oid'] == "" || data['oid'] == "0")
                    delete data['oid'];

                try {
                    const response = await apiRequest(method, url, data);
                    if (response.data.status)
                        toastr.success(response.data.message);
                    $("#edit-modal").modal('hide');
                    getData();
                    $('#loader').fadeOut();
                } catch (error) {
                    toastr.error(error.response.data.message);
                    console.log(error);
                    $('#loader').fadeOut();
                }
                $('#loader').fadeOut();
            }
        </script>
</body>

</html>